*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: $font-family-base;
    line-height: 1.5;
}

.container {
    max-width: 1320px;
    padding: 0 12px;
    margin: 0 auto;
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 375px;
    }
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

a {
    display: block;
    text-decoration: none;
    color: black;
}

.bg-primary {
    background-color: $background-primary;
}

.bg-secondary {
    background-color: $background-secondary;
}

.text-primary {
    color: $text-primary;
}

.text-secondary {
    color: $text-secondary;
}

.text-tertiary {
    color: $text-white;
}

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.ptb-80 {
    padding: 80px 0;
}

.mb-1 {
    margin-bottom: 8px;
}

.mb-6 {
    margin-bottom: 48px;
}

.mr-6 {
    margin-right: 48px;
}

.link::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: #fff;
    margin: 0 auto;
    transition: .35s;
}

.link:hover::after {
    width: 100%;
}

.paging-title {
    border-left: 8px solid #9F1213;
    padding-left: 16px;
    margin-bottom: 32px;
}

.paging-padding {
    padding-top: 96px;
    padding-bottom: 80px;
}

@media (max-width: 767px) {
    .ptb-40 {
        padding: 40px 0;
    }

    .link:hover::after {
        display: none;
    }
    .paging-title {
        font-size: $font-md;
        margin-bottom: 24px;
    }
    .paging-padding {
        padding-top: 40px;
        padding-bottom: 64px;
    }
}