// background-color
$background-primary: #AA0601;
$background-secondary: #FBF2F2;

// text-color
$text-primary: #650300;
$text-secondary: #AA0601;
$text-white: #fff;

// font-size
$font-base: 16px;
$font-xs: 18px;
$font-sm: 20px;
$font-md: 24px;
$font-lg: 32px;
$font-xl: 42px;
$font-xxl: 48px;
$font-xxx: 64px; 

// font-family 
$font-family-base: 'Roboto', 'Noto Sans TC', sans-serif;