// background-color
$background-primary: #AA0601;
$background-secondary: #FBF2F2;

// text-color
$text-primary: #650300;
$text-secondary: #AA0601;
$text-white: #fff;

// font-size
$font-base: 16px;
$font-small: $font-base * 0.875;
$font-medium: $font-base * 1.25;
$font-regular: $font-base * 1.5;
$font-large: $font-base * 2;
$font-h2: $font-base * 3;
$font-h1: $font-base * 4; 

// font-family 
$font-family-base: 'Roboto', 'Noto Sans TC', sans-serif;