/* footer */
footer {
    padding-top: 48px;
    padding-bottom: 32px;
}

@media (max-width: 767px) {
    footer {
        padding: 24px 0;

        .navbar {
            float: right;
        }

        .footer-menu {
            display: none;
        }
    }
}

.share img {
    width: 48px;
    transition: .35s;

    &:hover {
        transform: scale(1.2);
    }
}


@media (max-width: 992px) {
    .share img {
        width: 40px;
    }
}

@media (max-width: 767px) {
    .share img {
        width: 24px;
    }
}

.middle {
    margin: 0 16px;
}

@media (max-width: 992px) {
    .middle {
        margin: 0 32px;
    }
}

@media (max-width: 767px) {
    .middle {
        margin: 0 8px;
    }
}

.contact-info {
    padding-bottom: 32px;
    border-bottom: 1px solid #fff;
    margin-bottom: 32px;

    span {
        display: block;
        font-size: $font-xxl;
        padding: 8px 4px;
    }

    a {
        margin-left: 16px;
        font-size: 36px;
        &:hover {
            opacity: .8;
        }
    }
}

.terms_conditions {
    li:first-child {
        margin-right: 48px;
    }

    a {
        font-size: $font-xs;
    }
}

@media (max-width: 767px) {
    .contact-info {
        padding-bottom: 24px;
        margin-bottom: 16px;

        span {
            font-size: $font-md;
            padding: 3px;
        }

        a {
            font-size: $font-base;
        }
    }

    .terms_conditions {
        flex-wrap: wrap;

        * {
            width: 100%;
        }

        ul {
            flex-direction: column;
        }

        p,
        li:first-child {
            margin-bottom: 8px;
        }
    }
}