nav {
    padding: 16px 0;

    .logo:hover {
        transform: scale(1.1);
    }

    .menu {
        width: 38%;

        .link {
            font-size: $font-sm;
        }
    }

}

@media (max-width: 992px) {
    nav {
        .menu {
            width: 70.68%;
        }
    }
}

@media (max-width: 767px) {
    nav {
        padding: 0;

        .container {
            flex-direction: column;
            padding: 0;
        }

        .logo {
            padding: 16px 0;
            padding-left: 15px;
            align-self: flex-start;
        }

        .menu {
            width: 100%;
            flex-wrap: wrap;

            li {
                width: 50%;
                border-top: 1px solid #fff;
                border-right: 1px solid #fff;
            }

            li:nth-child(1),
            li:nth-child(3) {
                border-left: 1px solid #fff;
            }

            li:nth-child(3),
            li:last-child {
                border-bottom: 1px solid #fff;
            }

            .link {
                text-align: center;
                font-size: $font-base;
                padding: 12px 0;
            }
        }
    }
}

.banner {
    background-image: url(../images/home-header.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 296px 0;

    .container {
        text-align: right;
    }

    .btn {
        display: inline-block;
        margin-top: 4px;
        padding: 6px 12px;

        &:hover {
            box-shadow: 0 0 5px 2px #650300;
        }

        &:active {
            border-radius: 20px;
        }
    }
}

@media (max-width: 992px) {
    .banner {
        background-image: url(../images/home-header-sm.png);
    }
}

@media (max-width: 767px) {
    .banner {
        padding: 144px 0;
        h3 {
            font-size: $font-base;
        }
        h1 {
            font-size: $font-md;
        }
        .btn {
            margin-top: 8px;
            font-size: $font-sm;
        }
    }
}

