h2 {
    font-size: $font-xxl;
    font-weight: bold;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: $font-md;
    font-weight: bold;
}

.our_service h2 {
    margin-bottom: 24px;
}

@media (max-width: 767px) {
    .title {
        font-size: $font-md;
        margin-bottom: 24px;
    }

    .our_service h2 {
        font-size: $font-md;
    }
}

.features {
    li {
        width: 23.5%;
    }

    img {
        width: 100px;
        margin-bottom: 16px;
    }

    p {
        text-align: left;
    }
}

@media (max-width: 992px) {
    .features {
        flex-wrap: wrap;

        li {
            width: 48%;
        }
    }
}

@media (max-width: 767px) {
    .features li {
        width: 100%;
    }
}

/* classic_series */
@media (max-width: 992px) {
    .options {
        flex-direction: column;
        align-items: center;
    }

    .options li:not(:last-child) {
        margin-bottom: 24px;
    }
}

.options {
    img {
        width: 416px;
    }

    h2 {
        font-style: italic;
        font-weight: 900;
    }
}

@media (max-width: 992px) {
    .options img {
        width: 336px;
    }
}

@media (max-width: 767px) {
    .options img {
        width: 348px;
    }
}

/* co-branded_series */
.co-branded_series {
    background-image: url(../images/bg-section4.png);
    background-position: center top;
    background-size: cover;
}

.collection h2 {
    background: #fff;
    font-style: italic;
    padding: 8px 0;
    font-weight: 900;
}

@media (max-width: 992px) {
    .collection {
        flex-direction: column;
    }

    .collection li:first-child {
        margin-bottom: 24px;
    }
}

/* feedback */
.list li {
    width: 23.5%;
    box-shadow: 0px 2px 6px #00000029;
    transition: .35s;

    &:hover {
        transform: translateY(-10px);
    }
}

@media (max-width: 992px) {
    .list {
        flex-wrap: wrap;

        li {
            width: 48%;
        }

        li:nth-child(n) {
            margin-bottom: 24px;
        }

        .content {
            padding: 16px;

            .name {
                font-weight: 600;
            }

            .review {
                margin-bottom: 72px;
            }

            .date {
                font-size: $font-xs;
                color: #707070;
            }
        }
    }
}

@media (max-width: 767px) {
    .list {
        li {
            width: 100%;
        }

        li:not(:last-child) {
            margin-bottom: 16px;
        }
    }
}

/* contact */
.contact-form {
    width: 49.07%;
    margin: 0 auto;

    p {
        margin-bottom: 24px;
    }

    input:not(.policy),
    textarea {
        display: block;
        width: 100%;
        margin-bottom: 16px;
        padding: 6px 12px;
    }

    input[type=submit] {
        width: 66.66%;
        margin: 0 auto;
        padding: 16px 0;
        border: none;
        cursor: pointer;
        margin-top: 48px;
        &:hover {
            opacity: .6;
        }
    }
}

@media (max-width: 992px) {
    .contact-form {
        width: 82.75%;
        input[type=submit] {
            width: 58.33%;
        }
    }
}

@media (max-width: 767px) {
    .contact-form {
        width: 100%;
    }
    input[type=submit] {
        width: 100%;
        margin-top: 24px;
    }
    label>span {
        display: block;
        text-indent: 20px;
    }
}
