<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <%- include('./layout/head'); -%>
</head>

<body>
    <!-- Header -->
    <header>
        <%- include('./layout/header'); -%>
            <div class="banner">
                <div class="container">
                    <h3 class="text-primary">Promise-Desert 2020 早春系列</h3>
                    <h2>看得清，才能看得遠</h2>
                    <a href="#" class="text-tertiary btn bg-primary">立即購買</a>
                </div>
            </div>
    </header>
    <!-- Main -->
    <main>
        <section class="our_service bg-secondary ptb-80 ptb-40">
            <div class="container">
                <h2 class="title text-primary text-center" data-aos="zoom-in" data-aos-duration="800">用專業的心，做專業的事</h2>
                <ul class="features d-flex justify-between">
                    <li class="text-center" data-aos="fade-right" data-aos-delay="650">
                        <img src="../assets/images/dollar.png" alt="price icon">
                        <h4 class="text-primary mb-1">單一價格</h4>
                        <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
                    </li>
                    <li class="text-center" data-aos="fade-left" data-aos-delay="650">
                        <img src="../assets/images/time.png" alt="clock icon">
                        <h4 class="text-primary mb-1">20 分鐘即可取件</h4>
                        <p>為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
                    </li>
                    <li class="text-center" data-aos="fade-right" data-aos-delay="850">
                        <img src="../assets/images/heart.png" alt="heart icon">
                        <h4 class="text-primary mb-1">安心售後服務</h4>
                        <p>我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
                    </li>
                    <li class="text-center" data-aos="fade-left" data-aos-delay="850">
                        <img src="../assets/images/glasses.png" alt="glasses icon">
                        <h4 class="text-primary mb-1">關於鏡片</h4>
                        <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
                    </li>
                </ul>
            </div>
        </section>
        <section class="classic_series ptb-80 ptb-40">
            <div class="container">
                <h2 class="title text-primary text-center mb-6" data-aos="zoom-in" data-aos-duration="800">經典系列鏡框</h2>
                <ul class="options d-flex justify-between">
                    <li data-aos="zoom-in">
                        <img src="../assets/images/OPTICAL.png" alt="optical" class="mb-1">
                        <h2 class="text-primary text-center">OPTICAL</h2>
                    </li>
                    <li data-aos="zoom-in" data-aos-delay="150">
                        <img src="../assets/images/SUNGLASSES.png" alt="sunglasses" class="mb-1">
                        <h2 class="text-primary text-center">SUNGLASSES</h2>
                    </li>
                    <li data-aos="zoom-in" data-aos-delay="150">
                        <img src="../assets/images/FUNCTIONAL.png" alt="functional" class="mb-1">
                        <h2 class="text-primary text-center">FUNCTIONAL</h2>
                    </li>
                </ul>
            </div>
        </section>
        <section class="co-branded_series ptb-80 ptb-40">
            <div class="container">
                <h2 class="title text-tertiary text-center mb-6" data-aos="zoom-in" data-aos-duration="800">聯名設計鏡框</h2>
                <ul class="collection d-flex">
                    <li data-aos="flip-left">
                        <img src="../assets/images/section4-1.png" alt="">
                        <h2 class="text-secondary text-center">DOUBLE A+</h2>
                    </li>
                    <li data-aos="flip-right" data-aos-delay="100">
                        <img src="../assets/images/home-section4-2.png" alt="">
                        <h2 class="text-secondary text-center">YOUTH</h2>
                    </li>
                </ul>
            </div>
        </section>
        <section class="feedback ptb-80 ptb-40">
            <div class="container">
                <h2 class="title text-primary text-center mb-6" data-aos="zoom-in" data-aos-duration="800">顧客推薦</h2>
                <ul class="list d-flex justify-between">
                    <li data-aos="flip-up" data-aos-delay="100">
                        <img src="../assets/images/home-section5-1.png" alt="">
                        <div class="content d-flex justify-between">
                            <div class="content-detail">
                                <p class="name mb-1">Jessy</p>
                                <p class="review">眼鏡品質優良，下次還會想來這邊購買！</p>
                            </div>
                            <time>2021/06/20</time>
                        </div>
                    </li>
                    <li data-aos="flip-up" data-aos-delay="100">
                        <img src="../assets/images/home-section5-2.png" alt="">
                        <div class="content d-flex justify-between">
                            <div class="content-detail">
                                <p class="name mb-1">凱倫</p>
                                <p class="review">做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
                            </div>
                            <time>2021/04/18</time>
                        </div>
                    </li>
                    <li data-aos="flip-up" data-aos-delay="100">
                        <img src="../assets/images/home-section5-3.png" alt="">
                        <div class="content d-flex justify-between">
                            <div class="content-detail">
                                <p class="name mb-1">悠悠</p>
                                <p class="review">謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
                            </div>
                            <time>2020/12/25</time>
                        </div>
                    </li>
                    <li data-aos="flip-up" data-aos-delay="100">
                        <img src="../assets/images/home-section5-4.png" alt="">
                        <div class="content d-flex justify-between">
                            <div class="content-detail">
                                <p class="name mb-1">Kyuan</p>
                                <p class="review">服務很好，品質沒有任何問題，非常喜歡。</p>
                            </div>
                            <time>2020/10/31</time>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section class="contact bg-secondary ptb-80 ptb-40">
            <div class="container">
                <div class="contact-form" data-aos="fade-down" data-aos-delay="150">
                    <h2 class="title text-primary text-center mb-6">聯絡我們</h2>
                    <p class="fs-20">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
                    <form action="index.html">
                        <label for="fullName" class="mb-1">姓名<input type="text" name="fullName" id="fullName"
                                placeholder="陳小明"></label>
                        <label for="phoneNumber" class="mb-1">聯絡電話<input type="tel" name="phoneNumber" id="phoneNumber"
                                placeholder="0912-345-678"></label>
                        <label for="email" class="mb-1">電子郵件<input type="email" name="email" id="email"
                                placeholder="example@email.com"></label>
                        <label for="feedBack" class="mb-1">意見反應<textarea name="feedBack" id="feedBack" cols="30"
                                placeholder="請輸入您的意見" rows="10"></textarea></label>
                        <div class="flex-item d-flex">
                            <input type="checkbox" class="policy" id="policy" value="policy">
                            <label for="policy">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
                        </div>
                        <input type="submit" value="確認送出" class="bg-primary text-tertiary">
                    </form>
                </div>
            </div>
        </section>
    </main>
    <!-- Footer -->
    <%- include('./layout/footer'); -%>

        <script type="module" src="../main.js"></script>
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init({
                // Global settings:
                disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
                startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
                initClassName: 'aos-init', // class applied after initialization
                animatedClassName: 'aos-animate', // class applied on animation
                useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
                disableMutationObserver: false, // disables automatic mutations' detections (advanced)
                debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
                throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)


                // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
                offset: 150, // offset (in px) from the original trigger point
                delay: 0, // values from 0 to 3000, with step 50ms
                duration: 800, // values from 0 to 3000, with step 50ms
                easing: 'ease', // default easing for AOS animations
                once: false, // whether animation should happen only once - while scrolling down
                mirror: false, // whether elements should animate out while scrolling past them
                anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation

            });
        </script>
</body>

</html>